.panelCarga{
    position: absolute; 
    width: 100%; 
    height:100vh; 
    background-color:black; 
    z-index:99;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    transition: opacity 1.0s;
    pointer-events:none;
  }

  .ldBar path
  {
      width: 400px;
      stroke-width:  100px;
  }
  .ldBar path.mainline{
      stroke-width: 15;
      stroke:100;
      stroke: #DA0C14;
  }
  .ldBar path.baseline{
       stroke-width: 15;
        stroke:#222222;
  }
  .ldBar-label{
      color:white;
  }
  .ldBar-label:before{
      content:"Loading "
  }
  #barraCarga{
    width:100%;
  }

  .panelLoadLogo
  {
    content:url("../src/img/iconos/LOGO_LOADING_low.png");
    width:600px;
  }

@media  (max-width:940px)
{
  .panelLoadLogo
  {
 
    width:300px;
  }
}