.panelGaleria
{
    font-family: 'riccione-serialbold', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;

    position: absolute; 
    width: 100%; 
    height: 100%;
    /* height:100%; */
    /* overflow-y: scroll; */
    background-color:rgba(0, 0, 0, 0.747); 
    z-index:99;
    
    /* padding: 20px; */
    text-align: justify;
    color: white;
    /* left:5%;
    right:5%;*/
    /* top:0;
    bottom:0;  */
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    visibility: hidden;
    opacity: 0;
}
.panelFoto{
    /* top:10%; */
    background-color:rgba(155, 41, 41, 0);
    width:70%;
    word-spacing:3px;
    letter-spacing:2px;
    
    line-height:20px;
    /* padding:100px; */
}
.panelFoto h2{
    font-size:15px;
}
.panelFotoCentro
{
    text-align:center;
}
.panelFotoCentro img{
    max-width:100%;
    max-height:70vh
}
.panelFotoPie {
    /* align-self: center; */
    text-align:left;
    padding: 30px;
    width:70%;
    font-size: 10px;
    align-self: center;
}
/* .botonCerrarFoto{
    width:5%;
    bottom:5%;
} */
.panelGaleriaCierre{
    width: 80%;
    height:10%;
    background-color:rgba(155, 41, 41, 0);
    align-self: bottom;
    display: flex;
    align-items: center
}

.panelGaleriaCierre img{
       
    width: 5%;
    /* height: 10%; */

}
.navegacionInferiorN2
{
    font-family: 'riccione-serialbold', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-around;
    /* wrap:nowrap; */
    width:30%;
    padding:10px;
    background-color: rgba(158, 91, 91, 0);
    position: absolute;
    z-index:80;
    bottom:10px;
    left:10px;
    color: #ffffff;
}

.navegacionInferiorN2 img
{
    max-width:10%

}
.informacionAudio
{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.panelFade
{
    position: absolute; 
    width: 100%; 
    height:100vh; 
    background-color:black; 
    z-index:99;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 1.0s; */
    pointer-events:none;
}

@media  (max-width:720px)
{
    .panelGaleriaCierre img{
       
        width: 10%;
        
    
    }
    .panelFotoPie {
        /* align-self: center; */
        text-align:left;
        /* padding: 30px; */
        width:50%;
        font-size: 10px;
    }
}