*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.logoInicio
{
    position: absolute;
    top: 10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* left: 50%; */
    /* max-width: 300px; */
    padding: 20px;
    text-align: center;
    width: 100%;
    /* align-self: center; */
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    /* transition: opacity 1.5s; */
    opacity: 0;
    background-color:rgba(31, 34, 31, 0);

}
.panelLoadLogo
{
    content:url("src/img/iconos/LOGO_LOADING_low.png");
    width:300px;
}

/* .bloqueentrada{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    align-self: flex-end;
    width:100%;
     min-height: 90vh; 

    background-color:green; 

    bottom:0; 
    
} */
.logosinicio{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    align-items:center;
    position: absolute;
    top: 0;
    text-align: center;
    /* align-content:center;*/
    align-self: center; 
    background-color:rgba(31, 34, 31, 0);
    width: 100%;
    height:20%;
    opacity:0;
    transition: opacity 1.0s;
    overflow: hidden;

}
.logosinicio .div
{
    width:20%;
}
@media (max-width:540px)
{
    .logosinicio .div
    {
        width:20%;

    }
}
@media (max-height:520px)
{
    .logoInicio
    {
        position: absolute;
        top: 10px;
        display:flex;
        height:60%;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        /* left: 50%; */
        /* max-width: 300px; */
        padding: 0px;
        text-align: center;
        width: 100%;
        /* align-self: center; */
        color: #ffffff;
        line-height: 1.3em;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 14px;
        transition: opacity 0.5s;
        background-color:rgba(31, 34, 31, 0);
    
    }
    .logosinicio img {
        max-width:30px;
    }
    
}
.logosinicio img{
    /* min-width:50px; 
    max-width: 200px;
    flex-basis: auto; */
    width:40%;
    
} 
.botonInicio{
    opacity:0;
    transition: opacity 1.0s

}

.panelLoading{
    pointer-events:none;
    transition: opacity 2.0s;
    overflow: hidden;

    
}
.panelLoad{
    position: absolute; 
    z-index:99;
    background-color: black;
    width: 100%; 
    height:100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    transition: opacity 1.0s;
    pointer-events:none;
    overflow: hidden;

}
.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: #b40000;
    transform: scaleX(0.3);
    z-index: 999;
    transition: transform 0.5s
    
}
.loading-bar.ended
{
    /* transform: scaleX(0);
    transform-origin: 100% 0; */
    transition: transform 1.5s ease-in-out;
}


.ldBar path
{
      width: 400px;
      stroke-width:  100px;
  }
  .ldBar path.mainline{
      stroke-width: 15;
      stroke:100;
      stroke: #DA0C14;
  }
  .ldBar path.baseline{
       stroke-width: 15;
        stroke:#222222;
  }
  .ldBar-label{
      color:white;
  }
  .ldBar-label:before{
      content:"Loading "
  }
  .panelLoadLogo
  {
    content:url("../src/img/iconos/LOGO_LOADING_low.png");
    width:600px;
  }

@media  (max-width:940px)
{
  .panelLoadLogo
  {
 
    width:300px;
  }
}